
input[type="text"]{
 color: #333; 
 width: 100%; 
 box-sizing: border-box; 
 letter-spacing: 1px;
}
:focus{outline: none;}


.effect2{
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
}

.effect2 ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 50%;
  @include size(0, 2px);
  background-color: $brand_base; 
  transition: 0.4s;
}
.effect2:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s; 
  left: 0;
}

.tf-input-select{
  position: relative;
  margin: 10px 0px;
}

//ant

.ant-input-search-icon {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 14px;
}

.ant-input-search-icon:hover {
  color: #108ee9;
}

.ant-search-input-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.ant-search-input.ant-input-group .ant-input:first-child,.ant-search-input.ant-input-group .ant-select:first-child {
  border-radius: 3px;
  position: absolute;
  top: -1px;
  width: 100%;
}

.ant-search-input.ant-input-group .ant-input:first-child {
  padding-right: 36px;
}

.ant-search-input .ant-search-btn {
  color: #666;
  background-color: #fff;
  border-color: #e5e5e5;
  border-radius: 0 2px 2px 0;
  left: -1px;
  position: relative;
  border-width: 0 0 0 1px;
  z-index: 2;
  padding-left: 8px;
  padding-right: 8px;
}

.ant-search-input .ant-search-btn>a:only-child {
  color: currentColor;
}

.ant-search-input .ant-search-btn>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input .ant-search-btn:focus,.ant-search-input .ant-search-btn:hover {
  color: #49a9ee;
  background-color: #fff;
  border-color: #49a9ee;
}

.ant-search-input .ant-search-btn:focus>a:only-child,.ant-search-input .ant-search-btn:hover>a:only-child {
  color: currentColor;
}

.ant-search-input .ant-search-btn:focus>a:only-child:after,.ant-search-input .ant-search-btn:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input .ant-search-btn.active,.ant-search-input .ant-search-btn:active {
  color: #0e77ca;
  background-color: #fff;
  border-color: #0e77ca;
}

.ant-search-input .ant-search-btn.active>a:only-child,.ant-search-input .ant-search-btn:active>a:only-child {
  color: currentColor;
}

.ant-search-input .ant-search-btn.active>a:only-child:after,.ant-search-input .ant-search-btn:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input .ant-search-btn.disabled,.ant-search-input .ant-search-btn.disabled.active,.ant-search-input .ant-search-btn.disabled:active,.ant-search-input .ant-search-btn.disabled:focus,.ant-search-input .ant-search-btn.disabled:hover,.ant-search-input .ant-search-btn[disabled],.ant-search-input .ant-search-btn[disabled].active,.ant-search-input .ant-search-btn[disabled]:active,.ant-search-input .ant-search-btn[disabled]:focus,.ant-search-input .ant-search-btn[disabled]:hover {
  color: rgba(0,0,0,.25);
  background-color: #f7f7f7;
  border-color: #e5e5e5;
}

.ant-search-input .ant-search-btn.disabled.active>a:only-child,.ant-search-input .ant-search-btn.disabled:active>a:only-child,.ant-search-input .ant-search-btn.disabled:focus>a:only-child,.ant-search-input .ant-search-btn.disabled:hover>a:only-child,.ant-search-input .ant-search-btn.disabled>a:only-child,.ant-search-input .ant-search-btn[disabled].active>a:only-child,.ant-search-input .ant-search-btn[disabled]:active>a:only-child,.ant-search-input .ant-search-btn[disabled]:focus>a:only-child,.ant-search-input .ant-search-btn[disabled]:hover>a:only-child,.ant-search-input .ant-search-btn[disabled]>a:only-child {
  color: currentColor;
}

.ant-search-input .ant-search-btn.disabled.active>a:only-child:after,.ant-search-input .ant-search-btn.disabled:active>a:only-child:after,.ant-search-input .ant-search-btn.disabled:focus>a:only-child:after,.ant-search-input .ant-search-btn.disabled:hover>a:only-child:after,.ant-search-input .ant-search-btn.disabled>a:only-child:after,.ant-search-input .ant-search-btn[disabled].active>a:only-child:after,.ant-search-input .ant-search-btn[disabled]:active>a:only-child:after,.ant-search-input .ant-search-btn[disabled]:focus>a:only-child:after,.ant-search-input .ant-search-btn[disabled]:hover>a:only-child:after,.ant-search-input .ant-search-btn[disabled]>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input .ant-search-btn.active,.ant-search-input .ant-search-btn:active,.ant-search-input .ant-search-btn:focus,.ant-search-input .ant-search-btn:hover {
  background: #fff;
}

.ant-search-input .ant-search-btn:hover {
  border-color: #e5e5e5;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty,.ant-search-input:hover .ant-search-btn-noempty {
  color: #fff;
  background-color: #108ee9;
  border-color: #108ee9;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty>a:only-child,.ant-search-input:hover .ant-search-btn-noempty>a:only-child {
  color: currentColor;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:focus,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:hover,.ant-search-input:hover .ant-search-btn-noempty:focus,.ant-search-input:hover .ant-search-btn-noempty:hover {
  color: #fff;
  background-color: #49a9ee;
  border-color: #49a9ee;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:focus>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:hover>a:only-child,.ant-search-input:hover .ant-search-btn-noempty:focus>a:only-child,.ant-search-input:hover .ant-search-btn-noempty:hover>a:only-child {
  color: currentColor;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:focus>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:hover>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty:focus>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty:hover>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.active,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:active,.ant-search-input:hover .ant-search-btn-noempty.active,.ant-search-input:hover .ant-search-btn-noempty:active {
  color: #fff;
  background-color: #0e77ca;
  border-color: #0e77ca;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.active>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:active>a:only-child,.ant-search-input:hover .ant-search-btn-noempty.active>a:only-child,.ant-search-input:hover .ant-search-btn-noempty:active>a:only-child {
  color: currentColor;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.active>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty:active>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty.active>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty:active>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled.active,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:active,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:focus,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:hover,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled],.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled].active,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:active,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:focus,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:hover,.ant-search-input:hover .ant-search-btn-noempty.disabled,.ant-search-input:hover .ant-search-btn-noempty.disabled.active,.ant-search-input:hover .ant-search-btn-noempty.disabled:active,.ant-search-input:hover .ant-search-btn-noempty.disabled:focus,.ant-search-input:hover .ant-search-btn-noempty.disabled:hover,.ant-search-input:hover .ant-search-btn-noempty[disabled],.ant-search-input:hover .ant-search-btn-noempty[disabled].active,.ant-search-input:hover .ant-search-btn-noempty[disabled]:active,.ant-search-input:hover .ant-search-btn-noempty[disabled]:focus,.ant-search-input:hover .ant-search-btn-noempty[disabled]:hover {
  color: rgba(0,0,0,.25);
  background-color: #f7f7f7;
  border-color: #e5e5e5;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled.active>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:active>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:focus>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:hover>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled].active>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:active>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:focus>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:hover>a:only-child,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]>a:only-child,.ant-search-input:hover .ant-search-btn-noempty.disabled.active>a:only-child,.ant-search-input:hover .ant-search-btn-noempty.disabled:active>a:only-child,.ant-search-input:hover .ant-search-btn-noempty.disabled:focus>a:only-child,.ant-search-input:hover .ant-search-btn-noempty.disabled:hover>a:only-child,.ant-search-input:hover .ant-search-btn-noempty.disabled>a:only-child,.ant-search-input:hover .ant-search-btn-noempty[disabled].active>a:only-child,.ant-search-input:hover .ant-search-btn-noempty[disabled]:active>a:only-child,.ant-search-input:hover .ant-search-btn-noempty[disabled]:focus>a:only-child,.ant-search-input:hover .ant-search-btn-noempty[disabled]:hover>a:only-child,.ant-search-input:hover .ant-search-btn-noempty[disabled]>a:only-child {
  color: currentColor;
}

.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled.active>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:active>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:focus>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled:hover>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty.disabled>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled].active>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:active>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:focus>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]:hover>a:only-child:after,.ant-search-input.ant-search-input-focus .ant-search-btn-noempty[disabled]>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty.disabled.active>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty.disabled:active>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty.disabled:focus>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty.disabled:hover>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty.disabled>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty[disabled].active>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty[disabled]:active>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty[disabled]:focus>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty[disabled]:hover>a:only-child:after,.ant-search-input:hover .ant-search-btn-noempty[disabled]>a:only-child:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}

.ant-search-input .ant-select-combobox .ant-select-selection__rendered {
  margin-right: 29px;
}

.ant-input {
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  width: 100%;
  height: 28px;
  cursor: text;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ant-input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.ant-input:-ms-input-placeholder {
  color: #ccc;
}

.ant-input::-webkit-input-placeholder {
  color: #ccc;
}

.ant-input:focus,.ant-input:hover {
  border-color: #49a9ee;
}

.ant-input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(16,142,233,.2);
}

.ant-input[disabled] {
  background-color: #f7f7f7;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0,0,0,.25);
}

.ant-input[disabled]:hover {
  border-color: #ebebeb;
}

textarea.ant-input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.ant-input-lg {
  padding: 6px 7px;
  height: 32px;
}

.ant-input-sm {
  padding: 1px 7px;
  height: 22px;
}

.ant-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.ant-input-group[class*=col-] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}

.ant-input-group>[class*=col-] {
  padding-right: 8px;
}

.ant-input-group-addon,.ant-input-group-wrap,.ant-input-group>.ant-input {
  display: table-cell;
}

.ant-input-group-addon:not(:first-child):not(:last-child),.ant-input-group-wrap:not(:first-child):not(:last-child),.ant-input-group>.ant-input:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.ant-input-group-addon,.ant-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}

.ant-input-group-wrap>* {
  display: block!important;
}

.ant-input-group .ant-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.ant-input-group-addon {
  padding: 4px 7px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #666;
  text-align: center;
  background-color: #eee;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ant-input-group-addon .ant-select {
  margin: -5px -7px;
}

.ant-input-group-addon .ant-select .ant-select-selection {
  background-color: inherit;
  margin: -1px;
  border: 1px solid transparent;
  box-shadow: none;
}

.ant-input-group-addon .ant-select-focused .ant-select-selection,.ant-input-group-addon .ant-select-open .ant-select-selection {
  color: #108ee9;
}

.ant-input-group-addon>i:only-child:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ant-input-group-addon:first-child,.ant-input-group-addon:first-child .ant-select .ant-select-selection,.ant-input-group>.ant-input:first-child,.ant-input-group>.ant-input:first-child .ant-select .ant-select-selection,.ant-input-group>span>.ant-input:first-child,.ant-input-group>span>.ant-input:first-child .ant-select .ant-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ant-input-group>.ant-input-preSuffix-wrapper:not(:first-child) .ant-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ant-input-group>.ant-input-preSuffix-wrapper:not(:last-child) .ant-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ant-input-group-addon:first-child {
  border-right: 0;
}

.ant-input-group-addon:last-child {
  border-left: 0;
}

.ant-input-group-addon:last-child,.ant-input-group-addon:last-child .ant-select .ant-select-selection,.ant-input-group>.ant-input:last-child,.ant-input-group>.ant-input:last-child .ant-select .ant-select-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ant-input-group-lg .ant-input,.ant-input-group-lg>.ant-input-group-addon {
  padding: 6px 7px;
  height: 32px;
}

.ant-input-group-sm .ant-input,.ant-input-group-sm>.ant-input-group-addon {
  padding: 1px 7px;
  height: 22px;
}

.ant-input-group .ant-input-preSuffix-wrapper {
  display: table-cell;
  width: 100%;
  float: left;
}

.ant-input-group.ant-input-group-compact>* {
  border-radius: 0;
  border-right-width: 0;
  vertical-align: middle;
}

.ant-input-group.ant-input-group-compact .ant-input {
  float: none;
  z-index: auto;
}

.ant-input-group.ant-input-group-compact>.ant-calendar-picker .ant-input,.ant-input-group.ant-input-group-compact>.ant-select>.ant-select-selection {
  border-radius: 0;
  border-right-width: 0;
}

.ant-input-group.ant-input-group-compact>.ant-calendar-picker:first-child .ant-input,.ant-input-group.ant-input-group-compact>.ant-select:first-child>.ant-select-selection,.ant-input-group.ant-input-group-compact>:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ant-input-group.ant-input-group-compact>.ant-calendar-picker:last-child .ant-input,.ant-input-group.ant-input-group-compact>.ant-select:last-child>.ant-select-selection,.ant-input-group.ant-input-group-compact>:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right-width: 1px;
}

.ant-input-preSuffix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.ant-input-preSuffix-wrapper .ant-input {
  z-index: 1;
}

.ant-input-preSuffix-wrapper:hover .ant-input {
  border-color: #49a9ee;
}

.ant-input-preSuffix-wrapper .ant-input-prefix,.ant-input-preSuffix-wrapper .ant-input-suffix {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  line-height: 0;
}

.ant-input-preSuffix-wrapper .ant-input-prefix {
  left: 7px;
}

.ant-input-preSuffix-wrapper .ant-input-suffix {
  right: 7px;
}

.ant-input-preSuffix-wrapper .ant-input:not(:first-child) {
  padding-left: 24px;
}

.ant-input-preSuffix-wrapper .ant-input:not(:last-child) {
  padding-right: 24px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: inherit;
  color: rgba(0,0,0,.43);
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  font-size: 12px;
}

input[type=search] {
  box-sizing: border-box;
}

input[type=checkbox],input[type=radio] {
  line-height: normal;
}

input[type=file] {
  display: block;
}

input[type=range] {
  display: block;
  width: 100%;
}

select[multiple],select[size] {
  height: auto;
}

input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

output {
  display: block;
  padding-top: 15px;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
}

label {
  position: relative;
}

label>.anticon {
  vertical-align: top;
  font-size: 12px;
}

.ant-form-item-required:before {
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 12px;
  color: #f04134;
}

.ant-form-hide-required-mark .ant-form-item-required:before {
  display: none;
}

.ant-checkbox-inline.disabled,.ant-checkbox-vertical.disabled,.ant-checkbox.disabled label,.ant-radio-inline.disabled,.ant-radio-vertical.disabled,.ant-radio.disabled label,input[type=checkbox].disabled,input[type=checkbox][disabled],input[type=radio].disabled,input[type=radio][disabled] {
  cursor: not-allowed;
}

.ant-form-item {
  font-size: 12px;
  margin-bottom: 24px;
  color: #666;
  vertical-align: top;
}

.ant-form-item :not(.ant-form)>.ant-form-item,.ant-form-item>.ant-form-item {
  margin-bottom: -24px;
}

.ant-form-item-control {
  line-height: 32px;
  position: relative;
  zoom: 1;
}

.ant-form-item-control:after,.ant-form-item-control:before {
  content: " ";
  display: table;
}

.ant-form-item-control:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

.ant-form-item-with-help {
  margin-bottom: 6px;
}

.ant-form-item-label {
  text-align: right;
  vertical-align: middle;
  line-height: 32px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-form-item-label label {
  color: #666;
}

.ant-form-item-label label:after {
  content: ":";
  margin: 0 8px 0 2px;
  position: relative;
  top: -.5px;
}

.ant-form-item .ant-switch {
  margin: 4px 0;
}

.ant-form-item-no-colon .ant-form-item-label label:after {
  content: " ";
}

.ant-form-explain {
  line-height: 1.5;
}

.ant-form-explain,.ant-form-extra {
  color: rgba(0,0,0,.43);
}

.ant-form-text {
  display: inline-block;
  padding-right: 8px;
}

.ant-form-split {
  display: block;
  text-align: center;
}

form .has-feedback .ant-input {
  padding-right: 24px;
}

form .has-feedback .ant-select-arrow,form .has-feedback .ant-select-selection__clear {
  right: 28px;
}

form .has-feedback .ant-select-selection-selected-value {
  padding-right: 42px;
}

form .has-feedback .ant-cascader-picker-arrow {
  padding-right: 36px;
}

form .has-feedback .ant-calendar-picker-clear,form .has-feedback .ant-calendar-picker-icon,form .has-feedback .ant-cascader-picker-clear {
  right: 28px;
}

form textarea.ant-input {
  height: auto;
}

form .ant-upload {
  background: transparent;
}

form input[type=checkbox],form input[type=radio] {
  width: 14px;
  height: 14px;
}

form .ant-checkbox-inline,form .ant-radio-inline {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
  margin-left: 8px;
}

form .ant-checkbox-inline:first-child,form .ant-radio-inline:first-child {
  margin-left: 0;
}

form .ant-checkbox-vertical,form .ant-radio-vertical {
  display: block;
}

form .ant-checkbox-vertical+.ant-checkbox-vertical,form .ant-radio-vertical+.ant-radio-vertical {
  margin-left: 0;
}

form .ant-input-number {
  margin-top: -1px;
  margin-right: 8px;
}

form .ant-cascader-picker,form .ant-select {
  width: 100%;
}

.ant-input-group-wrap .ant-select-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ant-input-group-wrap .ant-select-selection:hover {
  border-color: #e5e5e5;
}

.ant-input-group-wrap .ant-select-selection--single {
  margin-left: -1px;
  height: 32px;
  background-color: #eee;
}

.ant-input-group-wrap .ant-select-selection--single .ant-select-selection__rendered {
  padding-left: 8px;
  padding-right: 25px;
  line-height: 30px;
}

.ant-input-group-wrap .ant-select-open .ant-select-selection {
  border-color: #e5e5e5;
  box-shadow: none;
}

.ant-col-24.ant-form-item-label,.ant-form-vertical .ant-form-item-label {
  padding: 0 0 8px;
  display: block;
  text-align: left;
}

.ant-col-24.ant-form-item-label label:after,.ant-form-vertical .ant-form-item-label label:after {
  content: "";
}

.ant-form-inline .ant-form-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

.ant-form-inline .ant-form-item-with-help {
  margin-bottom: 24px;
}

.ant-form-inline .ant-form-item>div {
  display: inline-block;
  vertical-align: middle;
}

.ant-form-inline .ant-form-text,.ant-form-inline .has-feedback {
  display: inline-block;
}

.ant-form-inline .ant-form-explain {
  position: absolute;
}

.has-error.has-feedback:after,.has-success.has-feedback:after,.has-warning.has-feedback:after,.is-validating.has-feedback:after {
  position: absolute;
  top: 0;
  right: 0;
  visibility: visible;
  pointer-events: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  -webkit-animation: zoomIn .3s cubic-bezier(.12,.4,.29,1.46);
  animation: zoomIn .3s cubic-bezier(.12,.4,.29,1.46);
  font-family: anticon;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.has-success.has-feedback:after {
  -webkit-animation-name: diffZoomIn1!important;
  animation-name: diffZoomIn1!important;
}

.has-error.has-feedback:after {
  -webkit-animation-name: diffZoomIn2!important;
  animation-name: diffZoomIn2!important;
}

.has-warning.has-feedback:after {
  -webkit-animation-name: diffZoomIn3!important;
  animation-name: diffZoomIn3!important;
}

.has-success.has-feedback:after {
  content: "\E630";
  color: #00a854;
}

.has-warning .ant-form-explain,.has-warning .ant-form-split {
  color: #ffbf00;
}

.has-warning .ant-input,.has-warning .ant-input:hover {
  border-color: #ffbf00;
}

.has-warning .ant-input:focus {
  border-color: #ffce3d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255,191,0,.2);
}

.has-warning .ant-input:not([disabled]):hover {
  border-color: #ffbf00;
}

.has-warning .ant-calendar-picker-open .ant-calendar-picker-input {
  border-color: #ffce3d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255,191,0,.2);
}

.has-warning .ant-input-prefix {
  color: #ffbf00;
}

.has-warning .ant-input-group-addon {
  color: #ffbf00;
  border-color: #ffbf00;
  background-color: #fff;
}

.has-warning .has-feedback {
  color: #ffbf00;
}

.has-warning.has-feedback:after {
  content: "\E62C";
  color: #ffbf00;
}

.has-warning .ant-select-selection {
  border-color: #ffbf00;
}

.has-warning .ant-select-focused .ant-select-selection,.has-warning .ant-select-open .ant-select-selection {
  border-color: #ffce3d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255,191,0,.2);
}

.has-warning .ant-calendar-picker-icon:after,.has-warning .ant-cascader-picker-arrow,.has-warning .ant-picker-icon:after,.has-warning .ant-select-arrow {
  color: #ffbf00;
}

.has-warning .ant-input-number,.has-warning .ant-time-picker-input {
  border-color: #ffbf00;
}

.has-warning .ant-input-number-focused,.has-warning .ant-input-number:focus,.has-warning .ant-time-picker-input-focused,.has-warning .ant-time-picker-input:focus {
  border-color: #ffce3d;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255,191,0,.2);
}

.has-warning .ant-input-number:not([disabled]):hover,.has-warning .ant-time-picker-input:not([disabled]):hover {
  border-color: #ffbf00;
}

.has-error .ant-form-explain,.has-error .ant-form-split {
  color: #f04134;
}

.has-error .ant-input,.has-error .ant-input:hover {
  border-color: #f04134;
}

.has-error .ant-input:focus {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240,65,52,.2);
}

.has-error .ant-input:not([disabled]):hover {
  border-color: #f04134;
}

.has-error .ant-calendar-picker-open .ant-calendar-picker-input {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240,65,52,.2);
}

.has-error .ant-input-prefix {
  color: #f04134;
}

.has-error .ant-input-group-addon {
  color: #f04134;
  border-color: #f04134;
  background-color: #fff;
}

.has-error .has-feedback {
  color: #f04134;
}

.has-error.has-feedback:after {
  content: "\E62E";
  color: #f04134;
}

.has-error .ant-select-selection {
  border-color: #f04134;
}

.has-error .ant-select-focused .ant-select-selection,.has-error .ant-select-open .ant-select-selection {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240,65,52,.2);
}

.has-error .ant-calendar-picker-icon:after,.has-error .ant-cascader-picker-arrow,.has-error .ant-picker-icon:after,.has-error .ant-select-arrow {
  color: #f04134;
}

.has-error .ant-input-number,.has-error .ant-time-picker-input {
  border-color: #f04134;
}

.has-error .ant-input-number-focused,.has-error .ant-input-number:focus,.has-error .ant-time-picker-input-focused,.has-error .ant-time-picker-input:focus {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240,65,52,.2);
}

.has-error .ant-input-number:not([disabled]):hover,.has-error .ant-mention-wrapper .ant-mention-editor,.has-error .ant-mention-wrapper .ant-mention-editor:not([disabled]):hover,.has-error .ant-time-picker-input:not([disabled]):hover {
  border-color: #f04134;
}

.has-error .ant-mention-wrapper.active .ant-mention-editor,.has-error .ant-mention-wrapper .ant-mention-editor:not([disabled]):focus {
  border-color: #f46e65;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(240,65,52,.2);
}

.is-validating.has-feedback:after {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
  content: "\E64D";
  color: #108ee9;
}

.ant-advanced-search-form .ant-form-item {
  margin-bottom: 16px;
}

.ant-advanced-search-form .ant-input,.ant-advanced-search-form .ant-input-group .ant-input,.ant-advanced-search-form .ant-input-group .ant-input-group-addon {
  height: 28px;
}

@-webkit-keyframes diffZoomIn1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes diffZoomIn1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes diffZoomIn2 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes diffZoomIn2 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes diffZoomIn3 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes diffZoomIn3 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.form___2ljqv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 320px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
}

.form___2ljqv button {
  width: 100%;
}

.form___2ljqv p {
  color: #ccc;
  text-align: center;
  margin-top: 16px;
}

.form___2ljqv p span:first-child {
  margin-right: 16px;
}


.ui.input {
  position: relative;
  font-weight: 400;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  color: rgba(0,0,0,.87);
}

.ui.input input {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.2142em;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
  padding: .67861429em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  -webkit-transition: box-shadow .1s ease,border-color .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease;
  box-shadow: none;
}

.ui.input input::-webkit-input-placeholder {
  color: hsla(0,0%,75%,.87);
}

.ui.input input::-moz-placeholder {
  color: hsla(0,0%,75%,.87);
}

.ui.input input:-ms-input-placeholder {
  color: hsla(0,0%,75%,.87);
}

.ui.disabled.input,.ui.input input[disabled] {
  opacity: .45;
}

.ui.disabled.input input,.ui.input input[disabled] {
  pointer-events: none;
}

.ui.input.down input,.ui.input input:active {
  border-color: rgba(0,0,0,.3);
  background: #fafafa;
  color: rgba(0,0,0,.87);
  box-shadow: none;
}

.ui.loading.loading.input>i.icon:before {
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.1);
}

.ui.loading.loading.input>i.icon:after,.ui.loading.loading.input>i.icon:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -.64285714em 0 0 -.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
}

.ui.loading.loading.input>i.icon:after {
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
}

.ui.input.focus input,.ui.input input:focus {
  border-color: #85b7d9;
  background: #fff;
  color: rgba(0,0,0,.8);
  box-shadow: none;
}

.ui.input.focus input::-webkit-input-placeholder,.ui.input input:focus::-webkit-input-placeholder {
  color: hsla(0,0%,45%,.87);
}

.ui.input.focus input::-moz-placeholder,.ui.input input:focus::-moz-placeholder {
  color: hsla(0,0%,45%,.87);
}

.ui.input.focus input:-ms-input-placeholder,.ui.input input:focus:-ms-input-placeholder {
  color: hsla(0,0%,45%,.87);
}

.ui.input.error input {
  background-color: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
  box-shadow: none;
}

.ui.input.error input::-webkit-input-placeholder {
  color: #e7bdbc;
}

.ui.input.error input::-moz-placeholder {
  color: #e7bdbc;
}

.ui.input.error input:-ms-input-placeholder {
  color: #e7bdbc!important;
}

.ui.input.error input:focus::-webkit-input-placeholder {
  color: #da9796;
}

.ui.input.error input:focus::-moz-placeholder {
  color: #da9796;
}

.ui.input.error input:focus:-ms-input-placeholder {
  color: #da9796!important;
}

.ui.transparent.input input {
  border-color: transparent!important;
  background-color: transparent!important;
  padding: 0!important;
  box-shadow: none!important;
}

.ui.transparent.icon.input>i.icon {
  width: 1.1em;
}

.ui.transparent.icon.input>input {
  padding-left: 0!important;
  padding-right: 2em!important;
}

.ui.transparent[class*="left icon"].input>input {
  padding-left: 2em!important;
  padding-right: 0!important;
}

.ui.transparent.inverted.input {
  color: #fff;
}

.ui.transparent.inverted.input input {
  color: inherit;
}

.ui.transparent.inverted.input input::-webkit-input-placeholder {
  color: hsla(0,0%,100%,.5);
}

.ui.transparent.inverted.input input::-moz-placeholder {
  color: hsla(0,0%,100%,.5);
}

.ui.transparent.inverted.input input:-ms-input-placeholder {
  color: hsla(0,0%,100%,.5);
}

.ui.icon.input>i.icon {
  cursor: default;
  position: absolute;
  line-height: 1;
  text-align: center;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 2.67142857em;
  opacity: .5;
  border-radius: 0 .28571429rem .28571429rem 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.ui.icon.input>i.icon:not(.link) {
  pointer-events: none;
}

.ui.icon.input input {
  padding-right: 2.67142857em!important;
}

.ui.icon.input>i.icon:after,.ui.icon.input>i.icon:before {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -.5em;
}

.ui.icon.input>i.link.icon {
  cursor: pointer;
}

.ui.icon.input>i.circular.icon {
  top: .35em;
  right: .5em;
}

.ui[class*="left icon"].input>i.icon {
  right: auto;
  left: 1px;
  border-radius: .28571429rem 0 0 .28571429rem;
}

.ui[class*="left icon"].input>i.circular.icon {
  right: auto;
  left: .5em;
}

.ui[class*="left icon"].input>input {
  padding-left: 2.67142857em!important;
  padding-right: 1em!important;
}

.ui.icon.input>input:focus~i.icon {
  opacity: 1;
}

.ui.labeled.input>.label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0;
  font-size: 1em;
}

.ui.labeled.input>.label:not(.corner) {
  padding-top: .78571429em;
  padding-bottom: .78571429em;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: transparent;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input:focus {
  border-left-color: #85b7d9;
}

.ui[class*="right labeled"].input input {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-right-color: transparent!important;
}

.ui[class*="right labeled"].input input+.label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui[class*="right labeled"].input input:focus {
  border-right-color: #85b7d9!important;
}

.ui.labeled.input .corner.label {
  top: 1px;
  right: 1px;
  font-size: .64285714em;
  border-radius: 0 .28571429rem 0 0;
}

.ui[class*="corner labeled"]:not([class*="left corner labeled"]).labeled.input input {
  padding-right: 2.5em!important;
}

.ui[class*="corner labeled"].icon.input:not([class*="left corner labeled"])>input {
  padding-right: 3.25em!important;
}

.ui[class*="corner labeled"].icon.input:not([class*="left corner labeled"])>.icon {
  margin-right: 1.25em;
}

.ui[class*="left corner labeled"].labeled.input input {
  padding-left: 2.5em!important;
}

.ui[class*="left corner labeled"].icon.input>input {
  padding-left: 3.25em!important;
}

.ui[class*="left corner labeled"].icon.input>.icon {
  margin-left: 1.25em;
}

.ui.input>.ui.corner.label {
  top: 1px;
  right: 1px;
}

.ui.input>.ui.left.corner.label {
  right: auto;
  left: 1px;
}

.ui.action.input>.button,.ui.action.input>.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

.ui.action.input>.button,.ui.action.input>.buttons>.button {
  padding-top: .78571429em;
  padding-bottom: .78571429em;
  margin: 0;
}

.ui.action.input:not([class*="left action"])>input {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-right-color: transparent!important;
}

.ui.action.input:not([class*="left action"])>.button:not(:first-child),.ui.action.input:not([class*="left action"])>.buttons:not(:first-child)>.button,.ui.action.input:not([class*="left action"])>.dropdown:not(:first-child) {
  border-radius: 0;
}

.ui.action.input:not([class*="left action"])>.button:last-child,.ui.action.input:not([class*="left action"])>.buttons:last-child>.button,.ui.action.input:not([class*="left action"])>.dropdown:last-child {
  border-radius: 0 .28571429rem .28571429rem 0;
}

.ui.action.input:not([class*="left action"]) input:focus {
  border-right-color: #85b7d9!important;
}

.ui[class*="left action"].input>input {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-left-color: transparent!important;
}

.ui[class*="left action"].input>.button,.ui[class*="left action"].input>.buttons>.button,.ui[class*="left action"].input>.dropdown {
  border-radius: 0;
}

.ui[class*="left action"].input>.button:first-child,.ui[class*="left action"].input>.buttons:first-child>.button,.ui[class*="left action"].input>.dropdown:first-child {
  border-radius: .28571429rem 0 0 .28571429rem;
}

.ui[class*="left action"].input>input:focus {
  border-left-color: #85b7d9!important;
}

.ui.inverted.input input {
  border: none;
}

.ui.fluid.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ui.fluid.input>input {
  width: 0!important;
}

.ui.mini.input {
  font-size: .78571429em;
}

.ui.small.input {
  font-size: .92857143em;
}

.ui.input {
  font-size: 1em;
}

.ui.large.input {
  font-size: 1.14285714em;
}

.ui.big.input {
  font-size: 1.28571429em;
}

.ui.huge.input {
  font-size: 1.42857143em;
}

.ui.massive.input {
  font-size: 1.71428571em;
}